@import "tailwindcss";


body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  width:100%;
  height:100%;
  padding: 0px;
  text-align: center;
}

@theme { 
  --color-primary: #2D2A32; /* RAISIN BLACK */
  --color-primary-2: #1E1C21; /* DARKER RAISIN BLACK */
  --color-primary-3: #645E6E; /* DIM GRAY (LIGHTER RAISIN BLACK) */
  --color-secondary-1: #E5E7E6; /* PLATINUM */
  --color-secondary-2: #AAB1AD; /* DARKER PLATINUM */
  --color-secondary-3: #6C7570;
  --color-secondary-button: #808985;
  --color-accent: #EEE5E9;
  --color-veryImportant: #b01805; /*Rufous*/
  --color-semiImportant: #d4a206; /*Goldenrod*/
  --color-nonImportant: #7c8D3F; /*Dark moss green*/
}